<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <% if(typeof styles != 'undefined') { %>
      <% styles.forEach(elem => { %>
          <link rel='stylesheet' href="<%= elem %>">
      <% }); %>
  <% } %>
  <!-- Can make this DYNAMIC following above syntax and semantics -->
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <title><%= (typeof title != "undefined" ? title : "") %>
  </title>
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->

</head>
<body>
  <%- body %>
  <!--script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script-->
</body>
</html>
