.navbar {
    font-size: 1.1rem;
}
.nav-link {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.canteen{
    height: 50%;
    width: 100%;
}
.bottom-container{
    background: #e2ecea;
    padding: 20px 0 1px;
  }
.copy{
    text-align: center;
    color: #050505;
    font-size: medium;
    padding: 20px 0;
  }
.footer-link{
    text-align: center;
    font-size: medium;
    color : #cfb103;
    margin: 250px 180px;
    text-decoration: none;
  }